/* Background Color */
.bgBlue {
    background-color: #2E2A72;
}

.bgPurple {
    background-color: #392F5A;
}

.bgDarkPink {
    background-color: #FF677D;
}

.bgTeaPink {
    background-color: #D4A5A5;
}

.bgPink {
    background-color: #FFB3BA;
}

/* Text Color */
.textBlue {
    color: #2E2A72;
}

.textPurple {
    color: #392F5A;
}

.textDarkPink {
    color: #FF677D;
}

.textTeaPink {
    color: #D4A5A5;
}

.textPink {
    color: #FFB3BA;
}